{% extends "games/base.html" %}


{% block page_header %}

<h3>About {{ title }} a little bit:</h3>

{% endblock page_header %}


{% block content %}

<p>
    <a href="{% url 'games:new_entry' title.id %}" style="font-style: italic;">Add a new card if you'd wish</a>
</p>

{% for entry in entries %}
    <div class="card mb-3" style="background: darkslategrey;">
        <h4 class="card-header" style="color: floralwhite;">
            {{ entry.date_added|date:'M d, Y H:i' }}
            <small><a href="{% url 'games:edit_entry' entry.id %}" style="color: cadetblue; font-style: italic;">
                Edit this entry</a></small>
        </h4>

        <div class="card-body" style="color: antiquewhite;">
            {{ entry.text|linebreaks }}
        </div>
    </div>

{% empty %}
    <p>There's nothing here!</p>
{% endfor %}


{% endblock content %}