{% extends "games/base.html" %}
{% load bootstrap4 %}

{% block page_header %}


{% endblock page_header %}

<h2>You can log in here :)</h2>

{% block content %} 

  <form method="post" action="{% url 'users:login' %}" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button name="submit" class="btn btn-primary">Log in</button>
      {% endbuttons %}

      <input type="hidden" name="next"
        value="{% url 'games:index' %}" />
  </form>

{% endblock content %}